.genre {
    color: #55f;
    font-weight: bold;
    font-size: 23px;
    display: inline-block;
    margin: 5px 10px;
    /*width: 100px;*/
}

.genre a {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
}