.movie {
    box-shadow: 5px 5px 15px 2px darkslategrey;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    margin: 7px 14px;
    overflow-y: hidden;
    padding: 5px 10px;
    position: relative;
}

.movie .movie-header h3 {
    color: #0073e5;
    padding-top: 20px;
    font-size: 24px;
    margin: 0 0 1px 0;
    text-shadow: 4px 4px 6px #000;
}

.movie .movie-body img {
    float: right;
    margin-left: 15px;
}

.movie .movie-body p {
    background-color: rgba(0,0,0,0.7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
    overflow-y: auto;
    margin:0;
    border:0;
    padding:10px;
}

.movie .movie-body b {
	color: #ddd;
}

.movie .movie-body .description {
    text-align: left;
}

.movie .movie-header, .movie .movie-body {
    display: block;
}