.Person {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.Person h1 {
    background-color: rgba(125,125,125,.2);
    border-radius: 0 15px 15px 0;
}

.Person label {
    font-weight: bold;
}

.Person img.main{
    border-radius: 15px;
    float: left;
    box-shadow: 5px 5px 8px #5e7680;
    margin: 0 15px 15px 0;
}

.Person ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

.Person ul li {
    display: inline-block;
    margin: 3px;
}

.Person ul li img {
    border-radius: 5px;
}

